# IDE
.vscode/
.idea/

# Java / Maven
khademni/target/
*.class
*.jar

# Python
face_backend/__pycache__/
face_backend/**/*.pyc
face_backend/.venv*/

# macOS
.DS_Store

# Logs
/tmp/uvicorn.log

# HTML
html files

# Symfony app
khademni-web/.env.local
khademni-web/.env.local.php
khademni-web/.env.*.local
khademni-web/config/secrets/prod/prod.decrypt.private.php
khademni-web/public/bundles/
khademni-web/var/
khademni-web/vendor/
khademni-web/phpunit.xml
khademni-web/.phpunit.cache/
khademni-web/public/assets/
khademni-web/assets/vendor/
